body {
    background-image: url("https://arc-hum.princeton.edu/sites/arc_hum/files/styles/panopoly_image_original/public/media/black-and-white-city-skyline-buildings.jpg?itok=kDwWlrRE");
    background-color: #cccccc
}
h1 { 
font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
ul.main-menu {
 font-family: 'Playfair Display SC', serif;    
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center; 
}
a {
    color: black;
}
.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
