body {
    background-image: url("dam-images-homes-2011-04-work_order-01_work_order.jpg");  
   
}
h1 { 
font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
}
ul.main-menu {
 font-size: 30px;
    font-family: 'Playfair Display SC', serif;    
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center; 
}
a {
    color: black;
}
.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
