h1 { color: lightblue; }
<style>
p.serif {
    font-family: "Times New Roman", Times, serif;}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    with:   60;
    background-color: lightgrey;
}
ul.main-menu>li {
    display: block;
}
